<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>AssetArc | Dashboard</title>
</head>
<body>

    <div class="dashboard">
        <span class="logo">AssetArc</span>
        
        <div class="balance-label">Current Net Worth</div>
        <div class="total-ksh">KSh {{ "{:,.2f}".format(total_ksh) }}</div>
        <div class="status-badge {{ 'profit' if profit_loss >= 0 else 'loss' }}">
    {{ '+' if profit_loss >= 0 }}{{ "{:,.2f}".format(profit_loss) }} KSh
</div>
        <div class="asset-row">
            <div class="btc-info">
                <div class="pulse"></div>
                <span style="color: var(--btc-orange); font-weight: 600;">BTC</span>
            </div>
            <div class="price-text">
                {{ btc_balance }} BTC @ {{ "{:,.0f}".format(current_price_ksh) }}
            </div>
        </div>
    </div>

</body>
</html>